.body-oscar {
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* estilos header */
.header-oscar {
  background-color: #1e90ff;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-oscar .a-oscar {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.nav-oscar .a-oscar:hover {
  text-decoration: underline;
}

/* estilos main index.html*/

.container-main-oscar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-oscar {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.container-form-oscar {
  max-width: 400px;
}

.container-btn-oscar {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

/* .title-main-oscar{
    
} */

.btn {
  background-color: #3498db;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  display: inline-block;
}

.btn:hover {
  background-color: #2980b9;
}

.input-oscar {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}
.text-oscar {
  font-size: 16px;
}
