<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/table.css" />
    <script
      src="https://kit.fontawesome.com/1aea771cf6.js"
      crossorigin="anonymous"
    ></script>
    <title>Registro</title>
  </head>

  <body>
    <nav>
      <div id="logo"><h1>LOGO</h1></div>
      <ul id="menu">
        <li><a href="/register">Registro</a></li>
        <li><a href="/login">Ingreso</a></li>
        <li class="active"><a href="/dashboard">Inicio</a></li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </nav>

    <section style="view-transition-name: main"></section>
    <table class="table-users">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Fecha de creacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- <% users.forEach((user, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.date %></td>
          <td class="actions">
            <div class="svg-action">
              <a href="#" class="update-button"
                ><i class="fas fa-pencil-alt" aria-hidden="true"></i
              ></a>
            </div>
            <div class="svg-action">
              <a href="#" class="delete-button"
                ><i class="fas fa-trash-alt" aria-hidden="true"></i
              ></a>
            </div>
          </td>
        </tr>
        <% }) %> -->
      </tbody>
    </table>
  </body>
</html>
